<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
  </head>
  <body>
    <%- include('includes/nav'); %>
    <section class="bannerLogin">
    <section class="error">
      <h4>Error 404!</h4>
      <h3>A página que você procura não existe.</h3>
    </section>
    </section>
  </body>

  <%- include('includes/footer'); %>
