<%- include('includes/head'); %>
<body>
        <%- include('includes/nav'); %>

        <section class="banner">
            <h1>Teach<span>Tech</span></h1>
            <h2>Focando em seu Auxilio!!</h2>

            <div class="btn">
            <a href="/login/index">
                <button>FAÇA SEU LOGIN</button>
            </a>
            </div>
        </section>

        <section class="your-moments">
            <div class="container">
                <h1>Your site, Your moment</h1>
                <h2>Criamos essa plataforma de apoio na intenção de ajudar você, aluno de tecnologia do Centro Paula Souza.</h2>
                <h3>Aproveite, use e desfrute!!</h3>
            </div>
        </section>

        <section class="bannerGaleria">
        <section class="galeria">
            <div class="container">
                <div class="linha">
                    <div class="imagem">
                        <p>Aprender Linguagens</p>
                    </div>
                    <div class="imagem">
                        <p>Desenvolver Softwares</p>
                    </div>
                </div>
                <div class="linha">
                    <div class="imagem">
                        <p>Criar soluções</p>
                    </div>
                    <div class="imagem">
                        <p>Resolver problemas</p>
                    </div>
                </div>
            </div>
        </section>
        </section>
        
        <section id="cursos-link" class="cards">

            <div class="scroll">

            <div class="container">

                <div class="card" style="--clr:#FF8C00;">

                    <div class="imgs">

                        <img src="/html.png">

                    </div>
                    <div class="content">

                        <h2>HTML Básico</h2>
                        <p>HTML é uma linguagem de marcação utilizada na construção de páginas na Web, documentos HTML podem ser interpretados por navegadores...</p>
                        <a href="/login/index">Saiba Mais</a>

                    </div>

                </div>
                <div class="card" style="--clr:#4169E1;">

                    <div class="imgs">

                        <img src="/css.png">

                    </div>
                    <div class="content">

                        <h2>CSS Básico</h2>
                        <p>Cascading Style Sheets é um mecanismo para adicionar estilos a uma página web, aplicado diretamente nas tags HTML ou ficar contido dentro das tags "<>"...</p>
                        <a href="/login/index">Saiba Mais</a>

                    </div>

                </div>
                <div class="card" style="--clr:#FFD700;">

                    <div class="imgs">

                        <img src="/js.png">

                    </div>
                    <div class="content">

                        <h2>JavaScript Básico</h2>
                        <p>JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma...</p>
                        <a href="/login/index">Saiba Mais</a>

                    </div>
                    

                </div>

                <div class="card" style="--clr:#4F5B93;">

                    <div class="imgs">

                        <img src="/php.png">

                    </div>
                    <div class="content">

                        <h2>Php Básico</h2>
                        <p>PHP é uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor...</p>
                        <a href="/login/index">Saiba Mais</a>

                    </div>

                </div>

            </div>

        </div>

        
        </section>


        <div>
        
            <section id="vestibulinho-link" class="vestibulinho">
    
    
                <h1>VESTIBULINHO ETEC</h1>
                <h3>INSCRIÇÕES ABERTAS</h3>
    
                        <!-- BOTÕES AQUI -->
    
            <div class="btn">
        
                <a href="https://www.vestibulinhoetec.com.br/" target="_blank">
                <button>INSCREVA-SE</button>
                </a>
    
            </div>
    
            </section>
    
        </div>

        <section id="equipe-link" class="equipe">

            <div class="scroll">

            <div class="titulo">

                <div>
                    <h2>EQUIPE TEACH TECH</h2>
                    <hr class="atravessada">
                </div>

            </div>

            <div class="container">

                <div>

                  <div class="content">

                    <h2>Alex</h2>
                    <span>Pesquisador</span>

                  </div>

                </div>
                <div>

                  <div class="content">

                    <h2>Alison</h2>
                    <span>Arquivista</span>

                  </div>

                </div>
                <div>

                  <div class="content">

                    <h2>Luiz</h2>
                    <span>Arquivista</span>

                  </div>

                </div>
                <div>

                  <div class="content">

                    <h2>Pedro</h2>
                    <span>Pesquisador</span>

                  </div>

                </div>
                <div>

                    <div class="content">

                      <h2>Barbara</h2>
                      <span>Designer Front-End</span>

                    </div>

                  </div>
                  <div>

                    <div class="content">

                      <h2>Felipe</h2>
                      <span>Front-End</span>

                    </div>

                  </div>
                  <div>

                    <div class="content">

                      <h2>Mikael</h2>
                      <span>Designer</span>

                    </div>

                  </div>
                  <div>

                    <div class="content">

                      <h2>Nicolas</h2>
                      <span>Full Stack</span>

                    </div>

                  </div>

              </div>

            </div>

        </section>
      
<%- include('includes/footer'); %>
